header{
    padding: .1px 0px;
    background-color: white;
    border-radius:100px 100px 100px 100px ;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 36px 170px 39px 160px;
}

.logo{
    color: #91916C;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nav__list{
    display: flex;
    gap: 76px;
}
.nav__item{
    color: #000;
    font-family: var(--font-primary);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}